<h2>Create a new Entry: </h2>

<form class="" action="/journal_entries" method="post">
  <label for="name">Content:</label>
  <input type="text" name="content">
  <input type="submit" name="" value="Create Entry">
</form>
