<h2>Create a new Entry: </h2>

<form class="" action="/journal_entries" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title">
  <label for="name">Content:</label>
  <input type="text" name="content">
  <label for="name">Mood:</label>
  <input type="text" name="mood">
  <input type="text" name="sneaky_hacker_info">

  <input type="submit" name="" value="Create Entry">
</form>
