<h2>Sign Up!</h2>

<form class="" action="/users" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" value="">
  <label for="email">Email: </label>
  <input type="text" name="email" value="">
  <label for="password">Password: </label>
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Create User">
</form>
